.titulo-contacto {
  width: 100%;
  text-align: center;

  h2 {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 2rem;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: $primary;
    }

    &:after {
      content: "";
      margin: 0 auto;
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 70%;
      height: 3px;
      background: $primary;
    }
  }
}

.form-container {
  width: 100%;
  padding: 20px;
  margin-top: 40px;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;

  @media all and (max-width: 800px) {
    & {
      grid-template-columns: 1fr;
    }
  }


  .form, .form-links {
    width: 100%;
  }

  .form {

    .content-input {
      position: relative;
      width: 100%;

      .form_input {
        width: 100%;
        padding: 10px;
        border: none;
        border: 2px solid $secondary;
        border-radius: 8px;
        outline: none;
        margin-bottom: 25px;
        appearance: none;
        background: none;
        font-size: 18px;
      }

      textarea {
        resize: none;
      }

      .form_label {
        position: absolute;
        top: 12px;
        left: 10px;
        background: white;
        pointer-events: none;
        transition: all 0.3s ease;
      }


      .form_input:focus ~ .form_label {
        top: -11px;
        left: 20px;
        font-size: 12px;
      }

      button {
        width: 100%;
        background: $secondary;
        color: white;
        font-size: 18px;
        padding: 10px;
        border: none;
        border-radius: 8px;
      }
    }
  }
}